.user
{
	padding: 9px;
	float: left;

}
.msgbox
{
	height: 600px;


}
.success
{
	color: #95EC97;
}
.message_container,.onlineusers
{
	background-color: #F1EEEB;
	height: 85%;
	overflow-y:scroll;
	padding: 20px;
}
.message_send
{
	height: 15%;
}
.footer
{
	background-color: #333131;
	color: #fff;
	line-height: 60px;
	font-size: 16px;
}
.p
{
	margin: 0px;
}
.ghost
{
	background-color: #f4511e;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.ghost:hover
{
	color:#f4511e;
	background-color: #fff;
	border-color: #f4511e;
}


.logo
{
	font-size: 150px;
	color: #595d5d;

}
.x.ng-enter
{
	animation: bounceInUp 1s;
}


.x.ng-leave
{
	animation: bounceOut 0.8s;
}
.commentsani.ng-enter
{
	animation: bounceInUp 1s;
}


.commentsani.ng-leave
{
	animation: bounceOutRight 0.8s;
}

.xy.ng-enter
{
	animation: fadeIn 0.6s;
}


.xy.ng-leave
{
	animation: fadeOut 0.5s;
}

.view.ng-enter
{
	animation: fadeInUp 1.2s;
}
.messages.ng-enter
{
	animation: fadeInLeft 0.5s;
}
.onlineusers
{
	background-color: #E2E2E1;
	height: 510px;
	overflow-y:scroll;
}
.onlineusers h2,.message_container h1
{
	text-align: center;
}
.well
{
	WORD-BREAK: break-word;
}
.pdf
{
	margin-top: 15px;
	padding: 15px 10px 10px 10px;
	background-color: rgb(214, 216, 215);
}
.pdfimgbox
{
	height:110px;
	width: 80%;
	background-color: grey;
	margin: 0 auto;
}
.pdfimage
{
	height: 100%;
	width: 100%;
}
.pdfdetails
{
	padding-left:20px !important;
	padding-right:20px !important;
	overflow: hidden;
}
.pdfdetails h3
{
	float: left;
}
.pdfdetails
.right h4
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.left
{
	float: left;
}
.righttext
{
	text-align: right;	
}
.right
{
	float: right;
}
.author
{
	margin: 0px;
}
.date
{
	font-size: 13px;
}
.nav-pills>li>a
{
	border-radius: 0px;
	padding-left: 20px;
}
.nav
{
	font-size: 16px;
}
.side a
{
	color: rgba(255, 255, 255, 0.74);
}
.side
{
	
	padding: 0px;
	background-color: #444;
}

.nav>li>a:focus,.nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover 
{
	color: #fff;
	background-color: rgb(118, 183, 151);
}
.nav>li>a
{
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.sub
{
	padding-left: 30px;
}
.gly
{
	color: black;
}
.gly :hover
{
	color: blue;
}
.control-label
{
	padding-top: 6px;
	padding-bottom: 6px;
}
.glyphicon-option-vertical
{
	padding-left: 30px;
}
.padleft
{
	padding-left: 30px;
}
.black
{
	color: black;
}
.white
{
	color: white;
}
.stats
{
	height: 600px;
}

.whiteborder
{
	    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.gghost
{
	background-color: #fff;
	color: rgb(118, 183, 151) !important;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.gghost:hover
{
	color: #fff !important;
    background-color: rgb(118, 183, 151);
	border-color: #fff;
}

.adrdel
{
	margin-left: -90px;
	margin-top: 40px;
}
.pad
{
	padding: 30px;
}
.overauto
{
	
	height: 480px;
	overflow-y: scroll;
}
.compressed
{
	margin: 0px;
	padding: 0px;
}
