<div class="jumbotron text-center" style="background-color: #f4511e;color: #fff;">
    <h1><span class="glyphicon glyphicon-book"></span> Backbenchers</h1>
    <p>store all your books online</p>
    <form class="form-inline">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <button type="button" class="btn btn-danger">Get your books now</button>
    </form>
</div>

<div class="container-fluid" style="padding-top: 10px">
    
    <div class="row">
        <div class="col-sm-8 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <h2>About Company</h2>
            <p>largest online library</p>
            <h4><strong>Backbenchers </strong>is a world wide community for our backbenchers </h4>
            <p><strong>Upload your books</strong> and become a part of us </p>
            <p>We are backbenchers we dont have books in our bags but we have revolutionary ideas in our brains</p>
            <button class="btn ghost btn-lg" style="">Get in Touch</button>
        </div>
        <div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <h2>Our Values</h2>
            <h4><strong>MISSION:</strong>Our mission to provide easiest way to organise your books</h4>
            <p><strong>VISION:</strong> premium services for free </p>
        </div>
    </div>
</div>
<div class="jumbotron blurbg text-center" style="background-color: #f4511e;color: #fff;padding: 25px">
    
    <h1> The site is under construction</h1>
    <p>we are adding a lot of features and will be back soon</p>
    <img src="public/img/const1.png" style="width: 100%;height:400px">
    
</div>
<footer class="footer container-fluid text-center">
    <p class="p">&copy; Backbenchers. All Rights Reserved | Design by Jash infotech Ltd</p>
</footer>
