<div class="row " ng-controller="mybagcontroller as myvm">
	<div class="col-sm-3 side">
		</br>
		<ul class="nav nav-pills nav-stacked">
  <li><a href="#">Home</a></li>
  
  <li><a href="#">Primary Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a href="#">LKG</a></li>
	  	<li><a href="#">UKG</a></li>
	  	<li><a href="#">&#8544; Class</a></li>
	  	<li><a href="#">&#8545; Class</a></li>
	  	<li><a href="#">&#8546; Class</a></li>
	  	<li><a href="#">&#8547; Class</a></li>
	  	<li><a href="#">&#8548; Class</a></li>
	  </ul>
  </li>
  <li><a href="#">Secondary Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a href="#">&#8549; Class</a></li>
	  	<li><a href="#">&#8550; Class</a></li>
	  	<li><a href="#">&#8551; Class</a></li>
	  	<li><a href="#">&#8552; Class</a></li>
	  	<li><a href="#">&#8553; Class</a></li>
	  </ul>
  </li>
  <li><a href="#">Intermediate Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a href="#">MPC</a></li>
	  	<li><a href="#">BIPC</a></li> 
	  	<li><a href="#">MEC</a></li>
	  </ul>
  </li>
  <li><a href="#">Btech Engineering<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a href="#">ECE </a></li>
	  	<li><a href="#">EEE </a></li> 
	  	<li><a href="#">CSE </a></li>
	  	<li><a href="#">CIVIL </a></li>
	  	<li><a href="#">AE </a></li>
	  	<li><a href="#">ECM </a></li> 
	  	<li><a href="#">MECH </a></li>
	  </ul>
  </li>
  <li><a href="#">Mtech Engineering<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a href="#">ECE </a></li>
	  	<li><a href="#">EEE </a></li> 
	  	<li><a href="#">CSE </a></li>
	  	<li><a href="#">CIVIL </a></li>
	  	<li><a href="#">AE </a></li>
	  	<li><a href="#">ECM </a></li> 
	  	<li><a href="#">MECH </a></li>
	  </ul>
  </li>
  <li><a href="#">MBA</a></li>
  <li><a href="#">MCA</a></li>
</ul>
	</div>
	<div class="col-sm-9">
		<div class="col-sm-12">
			<div class="col-sm-6 col-sm-push-1">
				</br>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="myvm.searchfilter"></input>
					<span class="input-group-addon glyphicon glyphicon-search" style="top: 0px"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3 x" ng-repeat="x in myvm.pdflist | filter: myvm.searchfilter">
					<div class="pdf" >
						<div class="pdfimgbox">
							<a ng-href=/preview/{{x._id}} ng-click="vm.myallocateLoc(x.displayname,x.timestamp)">
								<img class="pdfimage" ng-src=public/thumnail/{{x.displayname}}-{{x.timestamp}}.jpg >
							</a>
						</div>
						<div class="pdfdetails">

						<div class="over">
							<div class="left">
								<h3 class="left"><a ng-href=/preview/{{x._id}} ng-click="vm.myallocateLoc(x.displayname,x.timestamp)">{{x.displayname}}</a></h3>
							</div>
							
							<div class="right">
								<div class="dropdown">
								  <a class="dropdown-toggle black" data-toggle="dropdown" href="#">
	        							<h3 class="right">
											<span style="text-align: right" class="glyphicon glyphicon-option-vertical"></span>
										</h3>
									</a>
									<ul class="dropdown-menu adrdel">
								   <li><a ng-click="myvm.delupdatebag($index)">Delete from bag</a></li>
							       <li><a ng-click="myvm.getbag()">Share</a></li> 
								  </ul>
								</div>
							</div>
						</div>
						</br>
						<div class="over">
							<div class="left">
								<a ng-href=/visituser/{{x.username}} ng-click="vm.getUser(x.username)">
									<p class="text-muted author">By {{x.username}}</p>
								</a>
								<p class="text-muted date">{{x.date}}</p>
							</div>
							
							<div class="right righttext padleft">
								 <a class="gly" ng-click="myvm.like($index)"><h4><span id="like" class="glyphicon glyphicon glyphicon-thumbs-up"></span></h4></a>
								<span class="text-muted">{{x.likes.length}}</span>
							
							</div>
							<div class="right ">
								<a class="gly" ng-click="myvm.dislike($index)"><h4>
								<span id="like" class="glyphicon glyphicon glyphicon-thumbs-down"></span></h4></a>
								<span class="text-muted">{{x.dislikes.length}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>