<div class="row compressed " ng-init="vm.previewload()" >
	<div class="col-sm-3 side">
		</br>
		<ul class="nav nav-pills nav-stacked">
  <li><a ng-click=vm.sidesearch("") ng-href="/lib">Home</a></li>
  
  <li><a href="#">Primary Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a ng-click=vm.sidesearch("LKG") ng-href="/lib">LKG</a></li>
	  	<li><a ng-click=vm.sidesearch("UKG") ng-href="/lib">UKG</a></li>
	  	<li><a ng-click=vm.sidesearch("1st_class") ng-href="/lib">&#8544; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("2nd_class") ng-href="/lib">&#8545; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("3rd_class") ng-href="/lib">&#8546; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("4th_class") ng-href="/lib">&#8547; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("5th_class") ng-href="/lib">&#8548; Class</a></li>
	  </ul>
  </li>
  <li><a href="#">Secondary Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a ng-click=vm.sidesearch("6th_class") ng-href="/lib">&#8549; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("7th_class") ng-href="/lib">&#8550; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("8th_class") ng-href="/lib">&#8551; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("9th_class") ng-href="/lib">&#8552; Class</a></li>
	  	<li><a ng-click=vm.sidesearch("10th_class") ng-href="/lib">&#8553; Class</a></li>
	  </ul>
  </li>
  <li><a href="#">Intermediate Education<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a ng-click=vm.sidesearch("MPC") ng-href="/lib">MPC</a></li>
	  	<li><a ng-click=vm.sidesearch("BIPC") ng-href="/lib">BIPC</a></li> 
	  	<li><a ng-click=vm.sidesearch("MEC") ng-href="/lib">MEC</a></li>
	  </ul>
  </li>
  <li><a href="#">Btech Engineering<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a ng-click=vm.sidesearch("ECE") ng-href="/lib">ECE </a></li>
	  	<li><a ng-click=vm.sidesearch("EEE") ng-href="/lib">EEE </a></li> 
	  	<li><a ng-click=vm.sidesearch("CSE") ng-href="/lib">CSE </a></li>
	  	<li><a ng-click=vm.sidesearch("CIVIL") ng-href="/lib">CIVIL </a></li>
	  	<li><a ng-click=vm.sidesearch("AE") ng-href="/lib">AE </a></li>
	  	<li><a ng-click=vm.sidesearch("ECM") ng-href="/lib">ECM </a></li> 
	  	<li><a ng-click=vm.sidesearch("MECH") ng-href="/lib">MECH </a></li>
	  </ul>
  </li>
  <li><a  href="#">Mtech Engineering<span class="caret"></span></a>
	  <ul class="nav nav-pills nav-stacked sub">
	  	<li><a ng-click=vm.sidesearch("ECE") ng-href="/lib">ECE </a></li>
	  	<li><a ng-click=vm.sidesearch("EEE") ng-href="/lib">EEE </a></li> 
	  	<li><a ng-click=vm.sidesearch("CSE") ng-href="/lib">CSE </a></li>
	  	<li><a ng-click=vm.sidesearch("CIVIL") ng-href="/lib">CIVIL </a></li>
	  	<li><a ng-click=vm.sidesearch("AE") ng-href="/lib">AE </a></li>
	  	<li><a ng-click=vm.sidesearch("ECM") ng-href="/lib">ECM </a></li> 
	  	<li><a ng-click=vm.sidesearch("MECH") ng-href="/lib">MECH </a></li>
	  </ul>
  </li>
  <li><a ng-click=vm.sidesearch("MBA") ng-href="/lib">MBA</a></li>
  <li><a ng-click=vm.sidesearch("MCA") ng-href="/lib">MCA</a></li>
</ul>
	</div>
	<div class="col-sm-6 pad col-xs-12">

		<h1>
			{{vm.selectedpdf.displayname}}
		</h1>
		<h3 class="">
			<a  class="text-muted author" ng-href=/visituser/{{vm.selectedpdf.username}} ng-click="vm.getUser(vm.selectedpdf.username)">
				By {{vm.selectedpdf.username}}
			</a>
		</h3>
		<p class="text-muted date">{{vm.selectedpdf.timestamp | date}}</p>
		<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<a href="/test" ng-click="">
				<img class="" ng-src=public/thumnail/{{vm.selectedpdf.displayname}}-{{vm.selectedpdf.timestamp}}.jpg >
			</a>
		</div>
		</div>
		</br>
		<h4 style="text-align: right;" >
			Rating:
			<span  ng-repeat="x in vm.ratingfil">
				<span ng-class=x.class></span>	
			</span>
			
		</h4>
		<h3>Description:</h3>
		<p>{{vm.selectedpdf.description}}</p>
		<div class="row" style="margin-top: 100px">
			<div class="col-sm-12">
				<h1 
			style="text-align: center;background-color:#716d6d;margin: 0px;
			padding:20px 0px 10px 0px"class="white">
				Forum
			</h1>
			<h4>Total forum topics are {{vm.selectedpdf.forumtopics.length}}</h4>
			<a data-toggle="modal" href="#" data-target="#myModal">Start a new thread</a>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Start a new thread</h4>
			        
			      </div>
			      <div class="modal-body">
			   		<form >
			        	<input type="textarea" class="form-control" ng-model="vm.newtopic"  placeholder="Type here...">
			      </div>
			      <div class="modal-footer">
			       		<button type="submit" ng-click="vm.addtopic()" class="btn btn-default"  data-dismiss="modal">start</button>
			        </form>
			      </div>
			    </div>

			  </div>

			</div>
			</div>

		</div>
		<div class="col-sm-12" ng-repeat="x in vm.selectedpdf.forumtopics">
		<button class="well" style="width: 100%" data-toggle="collapse" data-target='#demo{{$index }}' >
			<div class="row">
				<div class="left textover">{{x.name}}</div>
				<div class="right">views<span class="badge">0</span></div>
				<div class="right" style="margin-right: 15px">Replies<span class="badge">{{x.reply.length}}</span></div>
				
			</div>
		</button>
			<form id=demo{{$index}} class="collapse col-sm-12" class="form-inline" role="form">
				<div class="col-sm-12" ng-repeat="x in vm.selectedpdf.forumtopics[$index].reply">
					<div style="overflow: auto;">
					<img onerror="standby16(this)" style="float: left;margin-right: 20px" ng-src=public/thumnail/{{x.user}}16x16.jpg>
					<a ng-href=/visituser/{{x.user}}><h3 class="textover" style="float: left;margin-top: 0px;">{{x.user}}</h3></a>
					 </div>
					<p>{{x.reply}}</p>
				</div>
			    <input type="textarea" class="form-group col-sm-10" ng-model=vm.newreply[$index] placeholder="Type here...">

			    <button type="submit" ng-click="vm.addreply(vm.newreply[$index],$index)" class="btn btn-default form-group col-sm-2"  data-dismiss="modal">Reply</button>
			</form>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 outer stats side">
			<h1 
			style="text-align: center;background-color:#716d6d;margin: 0px;
			padding:20px 0px 10px 0px"class="white">
				Comments
			</h1>
		<div >
		
		<div class="overauto" id="c">
		<ul class="nav nav-pills nav-stacked ">
			
			<li class="whiteborder padleft commentsani" ng-repeat="x in vm.selectedpdf.comments">
				<img onerror="standby16(this)" style="float: left;margin-right: 20px" ng-src=public/thumnail/{{x.user}}16x16.jpg>
				<h3 class="white textover">{{x.user}}</h3>
				<div style="overflow: auto">
					<h4 class="text-muted" style="float: left">{{x.comment}}</h4>

					<button  ng-show="vm.user.username==x.user" style="text-align: right;color: white;float: right;" class="btn btn-danger" ng-click="vm.delcomment(x._id,$index)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
				<h4 style="text-align: right " class="text-muted compressed">{{x.timestamp | date}}</h4>
			</li>
		</ul>
		</div>
		<div class=" inner padleft">
			<form class="form-inline"  ng-submit='vm.comment()' role="form">
			<div class="form-group">
				    <input type="text" class="form-control" ng-model="vm.comment.data" id="name" placeholder="Say something...">
				    
			</div>
			
			<div class="form-group"> 
				    <button type="submit" class=" ghost btn ">Comment</button>
			</div>
		</form>

		</div>
		</div>
	</div>
</div>