<div class="row compressed" ng-controller="usercontroller as myvm" ng-init="myvm.loaduser(vm.user)">
    <div class="col-sm-2">
        </br>
        <span ng-if="!vm.user.picstamp" style="font-size:200px;color:rgba(116, 170, 175, 0.65); " class="glyphicon glyphicon-user"></span>
        <img ng-if="vm.user.picstamp" ng-src=public/thumnail/{{vm.user.username}}.jpg>
    </div>
    <div class="col-sm-7">
        </br>
        <div class="col-sm-12">
            <h1 style="padding-top: 200px">{{vm.user.name}}</h1>
            <p class="text-muted">{{vm.user.occupation}}</p>
            <h3>Your uploads</h3>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 col-md-4 card-main" style="padding: 10px" ng-repeat="x in myvm.mybooks">
                    <div class="card">
                        <div class="col-sm-12 userbox">
                            <img onerror="standby(this)" ng-src=public/thumnail/{{x.username}}.jpg style="float:left;height:50px;width:50px;border-radius: 50%">
                            <div>
                                <a ng-href="#">
                                    <h4>{{x.username}}</h4>
                                </a>
                                <p class="text-muted date">{{x.occupation}}</p>
                            </div>
                        </div>
                        <div class="">
                            <a ng-href=/preview/{{x._id}} ng-click="vm.myallocateLoc(x.displayname,x.timestamp,x)">
                                <img class="thumbnail" ng-src=public/thumnail/{{x.displayname}}-{{x.timestamp}}.jpg>
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a ng-href=/preview/{{x._id}}  ng-click="vm.allocateLoc($index)">{{x.displayname}}</a></h4>
                            <p class="text-muted date">{{x.timestamp | date}}</p>
                        </div>
                        <div class="card-description">
                            <a class="col-sm-6" href="#" data-toggle="tooltip" title="Like" ng-click="myvm.like($index)">
                                <span id="like" ng-class="{'activelike':vm.activelike(x.likes)}" class="glyphicon glyphicon glyphicon-thumbs-up"></span>{{x.likes.length}}
                            </a>
                            <a class="col-sm-6" href="#" data-toggle="tooltip" title="Dislike" ng-click="myvm.dislike($index)">
                                <span id="like" ng-class="{'activedislike':vm.activedislike(x.dislikes)}" class="glyphicon glyphicon glyphicon-thumbs-down"></span>{{x.dislikes.length}}</a>
                            
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                    <div id="addedtobag" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Successfully added to bag :)</h4>
                                </div>
                                <div class="modal-body">
                                    <p>The notes has been sucessfully added to your bag</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!--
                <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" ng-repeat="x in myvm.mybooks">
                    <div class="pdf">
                        <div class="pdfimgbox">
                            <img class="pdfimage" ng-src=public/thumnail/{{x.displayname}}-{{x.timestamp}}.jpg>
                        </div>
                        <div class="pdfdetails">
                            <div class="over">
                                <div class="left">
                                    <h3 class="left"><a ng-href=/preview/{{x._id}} ng-click="vm.myallocateLoc(x.displayname,x.timestamp)">{{x.displayname}}</a></h3>
                                </div>
                                <div class="right">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle black" data-toggle="dropdown" href="#">
                                            <h3 class="right">
											<span style="text-align: right" class="glyphicon glyphicon-option-vertical"></span>
										</h3>
                                        </a>
                                        <ul class="dropdown-menu adrdel">
                                            <li><a href="#" ng-click="myvm.delupdatebag($index)">Delete from bag</a></li>
                                            <li><a href="#" ng-click="myvm.getbag()">Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="over">
                                <div class="left">
                                    <p class="text-muted author">By {{x.username}}</p>
                                    <p class="text-muted date">{{x.date}}</p>
                                </div>
                                <div class="right righttext padleft">
                                    <a class="gly" href="#" ng-click="myvm.like($index)"><h4><span id="like" ng-class="{'activelike':vm.activelike(x.likes)}" class="glyphicon glyphicon glyphicon-thumbs-up"></span></h4></a>
                                    <span class="text-muted">{{x.likes.length}}</span>
                                </div>
                                <div class="right ">
                                    <a class="gly" href="#" ng-click="myvm.dislike($index)"><h4>
								<span id="like" ng-class="{'activedislike':vm.activedislike(x.dislikes)}" class="glyphicon glyphicon glyphicon-thumbs-down"></span></h4></a>
                                    <span class="text-muted">{{x.dislikes.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="col-sm-3 stats side padleft">
        <h1 class="white">Stats</h1>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/edit"><h4>Edit profile</h4></a>
            </li>
            <li class="whiteborder">
                <h3 class="white">Joined on</h3>
                <h4 class="text-muted">{{vm.user.timestamp | date}}</h4>
            </li>
            <li class="whiteborder">
                <h3 class="white"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span>{{' '+myvm.totlikes}}</h3>
                <h4 class="text-muted">Thankfull</h4>
            </li>
            <li class="whiteborder">
                <h3 class="white"><span class="glyphicon glyphicon glyphicon-thumbs-down"></span>{{' '+myvm.totdislikes}}</h3>
                <h4 class="text-muted">Downvotes</h4>
            </li>
        </ul>
    </div>
</div>
